@page "/"
@using BlazorApp1.Data

<h1>Hello, world!</h1>

@code {
    decimal totalBudget = 1000000;

    new List<BudgetItem> budgetItems = new List<BudgetItem>{
        new BudgetItem{Name = "Developers"},
        new BudgetItem{Name = "AMangers"},
        new BudgetItem{Name = "Sales"}
    };

}